body {
    background: rgba(0, 128, 0, 1);
}

h1 {
    margin:60px;
    padding:20px;
    border: 3px solid darkblue;
    border-radius: 25px;
    text-align: center;
    font-style:italic;
    background-color:darkcyan;
}
h2{
    font-family:'Bookman Old Style'
}
.egész {
    font-family: Arial, Helvetica, sans-serif;
    font-size:20px;
    background-image: url("kép/háttér.png");
    border: 3px solid darkblue;
    border-radius: 25px 25px 25px 25px;
    margin:30px
    
}
span{
    font-style:italic;
    color:green;
    border-radius:30px;
}
.tapasztalat {
    background-image: url("kép/letöltés.jfif");
    
}
.képzettségek{background-image:url("kép/letöltés.jfif");
